API_KEY=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
MONGO_URI=mongodb://adu23adarsh_db_user:DXsOIfXrYdnU5LGP@ac-7r0daw7-shard-00-00.emok3gl.mongodb.net:27017,ac-7r0daw7-shard-00-01.emok3gl.mongodb.net:27017,ac-7r0daw7-shard-00-02.emok3gl.mongodb.net:27017/interviewDB?ssl=true&replicaSet=atlas-wa3k58-shard-0&authSource=admin&retryWrites=true&w=majority
PORT=5000
